:root {
    --primary-color: #00040b;
    --primary-light: #a0b3e5;
    --orange-color: #f35405;

} 

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #00040b;  
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto; 
    margin-top: 100px; 
} 

.heading {
    text-align: center;
    margin: 20px 0;
    font-size: 46px;
    font-weight: 500;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    margin: 0 10px;
    max-width: 300px;
}

.catalog-card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #00040b;
    display: flex;
    flex-direction: column;
    height: 373px; 
}


.slider {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.8s ease-in-out;
    position: relative;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    opacity: 0;
    transform: scale(0.9) rotate(-5deg);
}

.slide.active {
    opacity: 1;
    transform: scale(1) rotate(0deg);
}

.slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.nav {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #00040b;
    color: #eee;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    margin: 0 0 10px; 
    color: #eee;
}

.card-info {
    font-size: 14px;
    color: #eee;
    margin: 0 0 20px;
}

.book-now {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F35405;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.book-now:hover {
    background-color: #d94304;
} 

#fourth{  
    display: flex;
    justify-content: center;
}

.tablet{ 
    display: none;
} 

.mobile{ 
    display: none;
}

@media (max-width: 768px) {      
    .container{ 
        margin-top: 123px;
    }
    .tablet{ 
        display: block;
    } 

    .mobile{ 
        display: none;
    }
    .desktop{ 
        display: none;
    } 
   
} 

@media (max-width: 426px) {     
    .mobile{ 
        display: flex;
    }
    .tablet{ 
        display: none;
    }
    .desktop{ 
        display: none;
    }
   
} 

 /* Navbar Styles */
 .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #00040b; 
    box-shadow: 1px 1px 2px #a0b3e5;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    text-decoration: none!important;
}

.nav-bar.active {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 2px #a0b3e5;
}

.content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.6rem 1rem;
}

.nav-bar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-bar .site-logo {
    padding: 0.5rem;
}

.nav-bar .site-logo .logo-link { 
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-transform: capitalize;
    color: #fff;
    border-top: 4px solid #fff;
}

@media (max-width: 768px) { 
    .nav-bar .site-logo .logo-link { 
        font-size: 15px;
    }
}

.nav-bar .navigation {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.nav-bar .navigation .link a {
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-top: 1px solid transparent;
    transition: all 0.6s; 
    text-decoration: none;
}

@media (max-width: 768px) { 
    .nav-bar .navigation .link a { 
        font-size: 12px;
    }
}

.nav-bar .navigation .link:hover a {
    color: #f35405;
    border-top: 1px solid #f35405;
}


.icon-bars,#bars {
    display: none;
}

@media (max-width:700px) {
    .icon-bars {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        transform: rotate(90deg);
    }

    .icon-bars i {
        color: #fff;
        font-size: 20px;
    }

    .nav-bar .navigation {
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background-color: #000;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.4rem;
        transition: all 2s;
    }
   #bars:checked~.nav-bar .navigation {
        position: fixed;
        top: 0;
        right: 0;
    }

    .site-banner .row p {
        font-size: 50px;

    }

    .site-banner .row small {
        font-size: 20px;

    }


} 


footer {
    color: #fff; 
} 

@media (max-width: 480px) { 
    .footer{ 
     width: 139vw;
    } 
}

footer .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: #fff;
}

footer .content h4 {
    width: 100%;
    text-align: center;
    font-size: 46px;
    line-height: 46px;
}

footer .content .social {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    padding: 1rem;
    padding-bottom: 2rem;
}

footer .content .social a i {
    font-size: 24px;
    color: #fff;
}

footer .content .social a:hover i {
    font-size: 24px;
    color: #f35405;
}

footer .content p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

footer .content p i {
    font-size: 36px;
    color: #ffffff44;
    padding-bottom: 2rem;

}

footer .content .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: 1rem;
    padding-bottom: 2rem;
    list-style: none;
}

footer .content .navigation .link {
    padding: 3px 0px;
    border-bottom: 1px solid transparent;
    cursor: pointer;

}

footer .content .navigation .link a {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}

footer .content .navigation .link:hover {
    border-bottom: 1px solid #eee;
}

footer .rights {
    width: 100%;
    border-top: 1px solid #eeeeee77;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    color: #ffffffcc;

}

footer .rights a {
    color: #ffffff;
    font-weight: 400;

}